.container{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.featured-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}
.nav{
    background-color: rgb(247, 247, 247);
    padding: 20px 10px;
}
.btn{
    background-color: #469165;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: rgb(23, 24, 23);
    font-size: 16px;
    font-weight: 500;
}
li{
    list-style: none;
    
}